// Grid
$extra-large: 1200px;
$large: 992px;
$medium: 768px;
$small: 576px;

// Font Family
$heading_ff: 'Oswald', sans-serif;
$text_ff: sans-serif;

// Colors
$main-color: #116062;

// Transition
$transition: .2s;