#category {
  display: flex;

  #sidebar {
    width: 170px;
    box-shadow: 3px 0 6px rgba(0,0,0,.1);
  }
  #content {
    width: calc(100% - 170px);
  }
}

/* Banner */
.banner {
  background-size: cover;
  position: relative;
  padding: 100px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    z-index: 1;
  }

  &__wrap {
    max-width: 900px;
    position: relative;
    z-index: 2;
  }

  &__title {
    display: inline-block;
    color: #fff;
    font-family: $heading_ff;
    font-size: 70px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 2px solid $main-color;
  }
  &__description {
    color: #fff;
  }
}

/* Filtering */
.filtering {
  padding: 50px 100px;
  &__title {
    font-family: $heading_ff;
    text-transform: uppercase;
  }
}

/* Product */
.product {
  display: flex;
  align-items: center;
  background: linear-gradient(180deg,#e0e0e0 0,#efefef);

  //&:nth-child(even) {
    flex-direction: row-reverse;
  //}
  .thumbnail {
    width: 40%;
    padding: 30px;
  }
  .content {
    width: 60%;
    padding: 40px 100px;
  }
  &__title {
    font-family: $heading_ff;
    span {
      display: inline-block;
      border-bottom: 2px solid #116062;
      padding: 0 0 10px;
      margin: 0 0 20px;
    }
  }
  &__desc {
    font-family: $text_ff;
    max-width: 500px;
  }

  .gallery {
    margin: 0 0 20px;

    &__link {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .price {
    display: flex;
    &__wrap {
      background-color: #fff;
      display: inline-block;
      padding: 5px 20px;
      margin: 40px 0 20px;
      &.left {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &.right {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-left: 1px solid #e0e0e0;
      }
      &.single {
        border-radius: 4px;
      }
    }

    &__title {
      color: #505455;
      text-transform: uppercase;
      font-size: 12px;
      padding: 0 0 5px;
      font-weight: bold;
    }
    &__value {
      display: block;
      font-family: $heading_ff;
      font-size: 20px;
      font-weight: bold;
    }
  }
}
.order-btn {
  background-color: #212121;
  color: #fff;
  &:hover {
    color: #fff;
    background-color: #212121 + #111;
  }
}
