.home__slider {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #212121;

  .home__slider__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: {
      repeat: no-repeat;
      size: cover;
      position: center;
    }
    height: 100%;
    z-index: 50;

    &:before {
      content: "";
      background: rgba(0,0,0,.25);
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      background: linear-gradient(90deg,#000 0,transparent);
    }
  }
  &__content {
    display: inline-block;
    width: 1024px;
    padding:  20px 220px 20px 20px;
    z-index: 50;
  }

  .term {
    &__title {
      display: inline-block;
      font-family: $heading_ff;
      font-size: 110px;
      line-height: 130px;
      color: #fff;
      border-bottom: 2px solid $main-color;
      padding-bottom: 25px;
      padding-right: 40px;
      margin: 0 0 40px;
      position: relative;

      &:after {
        content: '';
        background-image: url(../images/title-border.png);
        background-size: cover;
        position: absolute;
        display: inline-block;
        bottom: -32px;
        right: -116px;
        width: 191px;
        height: 86px;
      }
    }
    &__description {
      color: #fff;
      margin: 0 0 30px;
      font-family: sans-serif;
    }
    &__link {
      display: inline-block;
      padding: 15px 20px;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: 2px;
      background-color: $main-color;
      color: #fff;
      transition: $transition;

      &:hover {
        text-decoration: none;
        background-color: $main-color + #222;
      }
    }
  }
}