.nav-home {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 60;

  &__menu {
    display: table-cell;
    vertical-align: middle;
    list-style: none;

    &:hover {
      &__link {
        a {
          border-bottom: 1px solid #fff;
          span  {
            display: inline-block;
          }
        }
      }
    }
  }
  &__link {
    display: block;
    color: #fff;
    
    a {
      display: table;
      padding: 10px 5px 10px 50px;
      transition: .3s;
      border-bottom: 1px solid transparent;
      img {
        width: 80px;
        height: auto;
      }
      span {
        display: none;
      }
    }
  }
}