@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/font-awesome/scss/font-awesome";
//@import "../node_modules/owl.carousel/src/scss/owl.carousel.scss";
@import "../node_modules/slick-carousel/slick/slick.scss";

@import "components/__components";


@import "pages/__pages";