.header {
  position: absolute;
  top: 0;
  right: 40px;
  z-index: 3;
  display: flex;
  &__logo {
    background: #fff;

    img {
      padding: 10px;
    }
  }

  &__lang {
    margin: 0 15px 0 0;
    padding: 10px;
    list-style: none;
    background: #fff;

    .lang-item {
      &.current-lang {
        a {
          color: $main-color;
        }
      }
      a {
        font-size: 15px;
        font-weight: bold;
        color: $text_color;
        transition: $transition;
        
        &:hover {
          text-decoration: none;
          color: $main-color;
        }
      }
    }
  }
}