.nav__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-color: #fff;

  .nav__menu {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav__link {

    a {
      display: inline-block;
      width: 100%;
      padding: 10px 20px;
      box-sizing: border-box;

      &:hover {
        background-color: #f9f9f9;
        text-decoration: none;
      }

      font-family: $heading_ff;
      font-size: 15px;
      font-weight: 500;
      color: #212121;
      text-transform: uppercase;
    }

    &--active {
      border-color: $main-color;

      a {
        background-color: $main-color;
        color: #fff;
        &:hover {
          background-color: $main-color + #111;
        }
      }
    }
  }
}
.delimiter {
  font-size: 100px;
  padding: 0 15px;
  color: $main-color;
  line-height: 0;

  &:before {
    line-height: .8;
  }
}
