.nav__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 170px;
  height: 100%;
  position: fixed;
  background-color: #fff;

  .nav__menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav__link {
    display: block;
    border-bottom: none;
    border-right: 2px solid transparent;
    box-shadow: inset 0 1px 0 0 hsla(0,0%,100%,0);

    &:hover {
      opacity: 1;
      background-color: #f9f9f9;
    }

    a {
      padding: 10px 20px;
      display: inline-block;

      &:hover {
        text-decoration: none;
      }

      & > span {
        opacity: .8;
        font-size: .8em;
        font-weight: 500;
        color: #212121;
        text-transform: uppercase;
      }
    }

    &--active {
      opacity: 1;
      border-color: $main-color;
      background-color: $main-color;

      &:hover {
        background-color: $main-color + #111;
      }

      a > span {
        color: #fff;
      }
    }
  }
}
