.nav__inner {
  display: table;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;

  &:hover {
    .nav__link {
      a {
        & > span {
          display: table-cell;
        }
      }
    }
  }

  .nav__menu {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
  }

  .nav__link {
    display: block;
    border-bottom: none;
    border-right: 2px solid transparent;
    opacity: .5;
    transition-duration: .25s;
    transition-timing-function: ease-out;
    vertical-align: middle;
    box-shadow: inset 0 1px 0 0 hsla(0,0%,100%,0);

    &--active {
      opacity: 1;
      border-color: $main-color;
      background-color: #f3f3f3;
    }

    &:hover {
      opacity: 1;
      background-color: #f9f9f9;
    }

    a {
      padding: 10px 20px;
      display: table;
      height: 50px;
      
      &:hover {
        text-decoration: none;
      }

      & > img {
        width: 80px;
        height: auto;
        display: table-cell;
        vertical-align: middle;
        transform: scale(.75) translateZ(0);
        transition-property: transform,-webkit-transform;
        transition-duration: .25s;
        transition-timing-function: ease-out;
        backface-visibility: hidden;
      }

      & > span {
        display:  none;
        opacity: .8;
        font-size: .8em;
        font-weight: 500;
        color: #212121;
        padding-left: 30px;
        vertical-align: middle;
        width: 100px;
        text-transform: uppercase;
      }
    }
  }
}
