.lg-outer {
  .lg-item {
    background: url("../images/loading.gif") no-repeat scroll center center transparent;
  }
  .lg-thumb-item {
    &.active {
      border-color: $main-color;
    }
    &:hover {
      border-color: $main-color;
    }
  }
}