* {
 box-sizing: border-box;
}
body,
html,
#page {
  font-family: $text_ff;
  font-size: 18px;
  height: 100%;
}

.section {
  &__bg {
    height: 100vh;
    background-position: 50%;
    background-size: cover;
    background-color: #212121;
    color: #fff;
    padding-top: 225px;
    padding-bottom: 225px;
    &:before {
      content: "";
      background: linear-gradient(90deg,rgba(0,0,0,.7) 0,transparent);
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
    }
  }
}

img {
  width: 100%;
  height: auto;
}

a {
  color: $main-color;
  text-decoration: none;

  &:hover {
    color: $main-color;
  }
}