* {
 box-sizing: border-box;
}
body,
html,
#page {
  font-family: $text_ff;
  font-size: 15px;
  color: $text_color;
}
.home {
  #page {
    height: 100vh;
  }
}

.main {
  display: flex;

  #sidebar {
    width: 170px;
    position: fixed;
    box-shadow: 3px 0 6px rgba(0,0,0,.1);
  }
  #content {
    width: calc(100% - 170px);
    margin-left: auto;
  }
}

.section {
  &__bg {
    height: 100vh;
    background-position: 50%;
    background-size: cover;
    background-color: #212121;
    color: #fff;
    padding-top: 225px;
    padding-bottom: 225px;
    &:before {
      content: "";
      background: linear-gradient(90deg,rgba(0,0,0,.7) 0,transparent);
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
    }
  }
}

img {
  width: 100%;
  height: auto;
}

a {
  color: $main-color;
  text-decoration: none;

  &:hover {
    color: $main-color;
  }
}

.btn {
  background-color: $main-color;
  text-transform: uppercase;
  font-family: $heading_ff;
  color: #fff;
  border-right: 2px;
  transition: $transition;

  &:hover {
    background-color: $main-color + #111;
    color: #fff;
  }
}